body{
  margin:0;
  padding:0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color:rgb(35, 40, 35) ;
  color: whitesmoke;
}


.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header{
    border-bottom:3px solid rgb(80,80,205);
    background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
}

.header a{

  color:gold;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  

.campo{

    display:flex;
    justify-content: center;
  }
.titulo-cadastro{
    display:flex;
    justify-content: center;
}

.logo{
  width: 200px;
  height:200px;
}

.titulo{
    
  display:flex;
  align-items: center;
  
}