body{
    margin:0;
    padding:0;
    font-family: Verdana;
    background-color:rgb(35, 40, 35) ;
    color: whitesmoke;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    
}


.header {
    border-bottom:3px solid rgb(80,80,205);
    background-image: -webkit-linear-gradient(right,#52ca79,#73a6df,#11119c,#4b0082,#cd853f,#ff0000 );
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }



.logo{
    width: 200px;
    height:200px;
  }
 
 .titulo{
    
    display:flex;
    align-items: center;

 }